<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculatorApp</title>
</head>
<body bgcolor="orange">
<form action="./calci" method="GET">
    First number: <input type="number" name="t1" placeholder="Enter a number">
    Second number: <input type="number" name="t2" placeholder="Enter a number"><br><br>
    <input type="submit" name="t3" value="ADD" >
    <input type="submit" name="t3" value="SUB" >
    <input type="submit" name="t3" value="MUL" >
    <input type="submit" name="t3" value="DIV" >

</form>

</body>
</html>